
body {
	background-color: black;
	color: white;
}

.grey{
	color: grey;
}
.black{
	color: black;
}
.nav-b-a{
	color: white;
}
.nav-b-a:hover{
	color: black;
}
.mrgnd{
	margin-top: 1%;
	font-size: 150%;
	color: grey;
}
.mrgnd:hover{
	color: white;
}
.des{
	font-size: 130%;
	margin-top: 15%;
}

.so h2 {
	margin: 3% 0%;
}

.footer{
	height: 20%;
	width: 100%;
	min-height: 100px;
	margin-top: 2%;
	border: white solid;
}
.footdes{
	
}